article {
  width: 100%;
}

.textInfo {
  display: flex;
  justify-content: space-around;

  .contractInfo {
    display: flex;
    justify-content: space-around;
  }
}

img {
  width: 250px;
  height: 290px;
}
