section {
    display: flex;
    align-items: center;
}

p {
    margin-right: 10px;
}

h3 {
    margin-right: 10px;
}

.textInfo {
    display: flex;
    justify-content: space-around;
}

img {
    width: 250px;
    height: 290px;
}